$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* 全局样式 */
html{
    min-width: 320px;
}

/* 头部导航条部分样式 */
header{
    ul{
        border: 1px solid red;
    }
}
