$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* 全局样式 */
html{
    min-width: 320px;
    background: #fff;
}

/* 头部导航条部分样式 */
header{
    nav{
        padding-right: 15px;
        padding-top: 10px;
    }
    .nav-list li, .header-nav>li{
        float: left;
        margin-bottom: 15px;
    }
    .header-nav>li>a{
        line-height: 20px;
        padding: 0 10px;
        margin: 0;
    }
    .nav-control li:nth-child(5) a{
        background: red;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: -6px;
        color: #fff;
    }


}

/* 主体部分 */
article{
    .main{
        position: relative;
    }
    .share{
        position: absolute;
        right: 10%;
        top: -15px;
    }
    .share .share-icon{
        width: 24px;
        height: 24px;
        font-size: 0;
        display: inline-block;
        background: url('../images/ico_share.png') no-repeat;
    }
    .share .share-list{
        display: inline-block;
        margin-left: -8px;
        padding-left: 10px;
        visibility: hidden;
    }
    .share .share-icon:hover~.share-list{
        visibility: visible;
    }
    .share .share-list:hover{
        visibility: visible;
    }
    .share .share-list li{
        width: 24px;
        height: 24px;
        font-size: 0;
        margin-right: 10px;
        display: inline-block;
        background: url('../images/ico_share.png') no-repeat;
    }
    .share .share-list li:nth-child(1){
        background-position: 0 -24px;
    }
    .share .share-list li:nth-child(2){
        background-position: 0 -48px;
    }
    .share .share-list li:nth-child(3){
        background-position: 0 -72px;
    }
    .share .share-list li:nth-child(4){
        background-position: 0 -96px;
    }
    .share .share-list li:nth-child(1):hover{
        background-position: -24px -24px;
    }
    .share .share-list li:nth-child(2):hover{
        background-position: -24px -48px;
    }
    .share .share-list li:nth-child(3):hover{
        background-position: -24px -72px;
    }
    .share .share-list li:nth-child(4):hover{
        background-position: -24px -96px;
    }

    .logo{
        text-align: center;
        margin-bottom: 15px;
    }
    .input-style{
        width: 90%;
        margin-left: 5%;
        border-radius: 2px;
    }
    .input-style > .border-radius {
        border-radius: 2px;
        border: 1px solid rgba(0,0,0,.25);
        box-shadow: none;
    }
    .input-style i{
        padding-left: 15px;
        padding-right: 15px;
        color: #fff;
    }
    .input-style>span{
        background-color: red;
    }


}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    article{
        .input-style{
            width: 80%;
            margin-left: 10%;
        }
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
    article{
        .input-style{
            width: 70%;
            margin-left: 17%;
        }
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
    article{
        .input-style{
            width: 60%;
            margin-left: 22%;
        }
    }
}
